.App {
    text-align: center;
}

.story-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.story {
    padding: 10px;
    margin: 10px;
}

.story > .image {
    width: 250px;
    border-radius: 1000px;
}
